In [4]:
# format of list
a=[1,2,3]
b=['h','j','k']
b[1:]

['j', 'k']

In [3]:
var = 'berlin'
k = list((var))
k

['b', 'e', 'r', 'l', 'i', 'n']

In [13]:
# if any string inside of  list
li = ['berlin','benilo','shilpa']
if 'benio' in li:
    print('yes')
else:
    print('no')

no

## Replace

In [14]:
#replace
li[1]='heart'
li

['berlin', 'heart', 'shilpa']

In [12]:
# Replace with list
li[2]=['we','kidney']
li

['berlin', 'heart', ['we', 'kidney']]

In [15]:
li[2:3] = ['we','kidney']
li

['berlin', 'heart', 'we', 'kidney']

## Inserting data

In [16]:
li.insert(2,'shipha')
li

['berlin', 'heart', 'shipha', 'we', 'kidney']

In [17]:
li.append('orange')
li

['berlin', 'heart', 'shipha', 'we', 'kidney', 'orange']

In [18]:
next = ["HEART","KIDNEY","LUNG"]
li.extend(next)
li

['berlin',
 'heart',
 'shipha',
 'we',
 'kidney',
 'orange',
 'HEART',
 'KIDNEY',
 'LUNG']

## Removing Data

In [19]:
li.remove('heart')
li

['berlin', 'shipha', 'we', 'kidney', 'orange', 'HEART', 'KIDNEY', 'LUNG']

In [20]:
li.pop(3)
li

['berlin', 'shipha', 'we', 'orange', 'HEART', 'KIDNEY', 'LUNG']

In [21]:
li.pop()
li

['berlin', 'shipha', 'we', 'orange', 'HEART', 'KIDNEY']

In [22]:
del li[0]
li

['shipha', 'we', 'orange', 'HEART', 'KIDNEY']

In [23]:
li.clear()
li

[]

## Looping list

In [24]:
# loop using index
one=["two","three","four"]
for i in range(0,len(one)):
    print(one[i])

two
three
four

In [26]:
# loop 0 to 5 pri
print(0) # => i=0
print(1) # => i=1
print(2) # i=2
print(3) # i=3

0
1
2
3

In [27]:
i=0
print(i)
i=1
print(i)
i=2
print(i)

0
1
2

In [31]:
for i in range(1,11): # 1,2,3..10
    if i%3==0:
        print(i)

3
6
9

In [34]:
input_list = [1,2,3,4,5,6,7,8,9,10]
for i in range(0,len(input_list)):
    print(input_list[i]) # if we print i, index number will be print

1
2
3
4
5
6
7
8
9
10

In [36]:
# item
for j in input_list:
    print(j)

1
2
3
4
5
6
7
8
9
10

In [41]:
# print items in loop without 3 in position
first = [1,3,5,7,8,9]
first.remove(3)
print(first)

[1, 5, 7, 8, 9]

In [43]:
for i in range(0,len(first)):
    print(first[i])

1
5
7
8
9

In [45]:
i=0
while i<len(first): # 2<6
    print(first[i]) # 2 -> 5
    i = i+1 # i->2

1
5
7
8
9

In [49]:
x=1
y=1
z=1
n=2
for i in range(0,x+1):# i=0 ->1
    for j in range(0,y+1):# j=0 ->1
        for k in range(0,z+1):# k=1 ->2
            if i+j+k !=n:
                print([i,j,k]) #[0,0,1]

[0, 0, 0]
[0, 0, 1]
[0, 1, 0]
[1, 0, 0]
[1, 1, 1]

In [52]:
x=1
y=0
z=1
# z - 1
for i in range(0,x+1):
    for j in range(0,z+1):
        if j!=0:
            print([i,y,j])

[0, 0, 1]
[1, 0, 1]

In [62]:
n=6 # 0,1,4,9,16,25
for i in range (0,n):
    print(i**2)

0
1
4
9
16
25

In [ ]:
n=8# odd
for i in range (0,n):
    if i%2!=0:
        print(i**2)

## List compensation

In [1]:
for item in old_list:
    new_list.append(item)
print(new_list)

['berlin', 'benilo', 'jack', 'apple']

## sorting list

In [3]:
old_list.sort() # -> acending order
old_list

['apple', 'benilo', 'berlin', 'jack']

In [4]:
old_list.sort(reverse=True) # ->  decending order
old_list

['jack', 'berlin', 'benilo', 'apple']

In [14]:
# Given
a = [10,4,16,21,3,13,7,8,5,9] #- > [8-15]
n=[]
# soln
a.sort()
a

[3, 4, 5, 7, 8, 9, 10, 13, 16, 21]

In [15]:
for numbers in a:
    if numbers>=8 and numbers<=15:
        n.append(numbers)
print(n)

[8, 9, 10, 13]

In [20]:
f = [4,7,9,2,3,5,7,6] # lessthan 5

b = [23,45,7,84,67] # greaterthan 45
out = [] #[2,3,4]
for numbers in f:
    if numbers<5:
        out.append(numbers)
for numbers in b:
    if numbers>45:
        out.append(numbers)
out.sort(reverse=True)
print(out)

[84, 67, 4, 3, 2]

In [21]:
# list copy
copy_list = f.copy()
copy_list

[4, 7, 9, 2, 3, 5, 7, 6]

In [25]:
# join two list
f = [11,3,5]
y=[8,7,0] 
g =f+y
g

[11, 3, 5, 8, 7, 0]

In [26]:
new = []
for i in range(0,len(f)):
    t = f[i] +y[i] # f->0, y-> 0
    new.append(t)
new

[19, 10, 5]