In [5]:
## Functions or methods
# addition method
# 2 -> input
# 1 -> out
def addition(value1,value2): # def method_name(argument1, argument2)
    out = value1 + value2
    return out

In [6]:
output = addition(3,4)
print(output)

7

In [7]:
def display(): # function_syntax(def) function_name(display)():
    print('Ima')

display()

Ima

In [10]:
# input -> list
# output -> odd number count & even number count
def shilpha(List):
    odd_count = 0 # intialize
    even_count = 0
    for number in List:
        if number%2==0:
            even_count=even_count+1 # counter increment
        elif number%2!=0:
            odd_count = odd_count+1
        else:
            pass
    return odd_count, even_count

In [13]:
myList = [1,2,3,45,6,67,89,8]
odd, even = shilpha(myList)

In [14]:
print(odd, even)

5 3

In [35]:
def square(integer): # e.g -> 5
    my_list=[]
    for i in range(0,integer+1): # range(0,5+1) -> 0,1,2,3,4,5
        square_data = i**2
        my_list.append(square_data)
    return my_list

In [38]:
output = square(7)
print(output)

[0, 1, 4, 9, 16, 25, 36, 49]

In [49]:
# input -> list (if element in list  == 4) e.g -> [1,3,4,5,6] -> joy
# output print('joy') else sad

def Print_function(List):

    for i in range(0,len(List)):
        if List==4:
            print("joy")
        else:
            print("sad")
    return

In [50]:
my_list=[1,2,3,4,5,6,7,8]
output=Print_function(my_list)
print(output)

sad
sad
sad
sad
sad
sad
sad
sad
None

In [47]:
len(my_list)

8

In [73]:
## task
# input-> 5 integer -> [0,1,2,3,4,5]
# output -> [0,1,2,3,4,5,6,7,8] -> list

def number(integer):
    my_list=[]
    for i in range(0,integer+1): # (0,6) _> integer no len -> list has len
        my_list.append(i)
    return my_list # 1

In [74]:
s=number(6)
print(s)

[0, 1, 2, 3, 4, 5, 6]

In [75]:
# input -> integer e.g -> 6 in
# output -> divided by 2 ouput (integer) -> 3 out

def divide(integer):
    
    division=integer/2
    return division

In [76]:
s=divide(10)
print(s)

5.0

In [77]:
int(s)

5

In [82]:
# input -> integer
# output-> mulipy by 2 output of integer

def multiply(integer): # 4
    List=[] # empty
    for i in range(1,integer+1): # (1,4) #i=1,9
        k=i*2 # k=6
        List.append(k) # [2,4,6]
    return List

In [84]:
s=multiply(10)
print(s)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [89]:
## integer input e.g 12 -> [2,4,6,8,12]

def even(integer):
    List=[]
    for i in range(0,integer+1):
        if i%2==0:
            List.append(i)
    return List

In [90]:
d=even(20)
print(d)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [94]:
# input -> integer e.g 10
# output -> odd number /2 and even *2 -> list
def numbers(integer):
    odd_even=[]
    for i in range(0,integer+1):
        if i%2==0:
            s=i*2
            odd_even.append(s)
        elif i%2!=0:
            s=i/2
            odd_even.append(s)
    return odd_even

In [95]:
f=numbers(20)
print(f)

[0, 0.5, 4, 1.5, 8, 2.5, 12, 3.5, 16, 4.5, 20, 5.5, 24, 6.5, 28, 7.5, 32, 8.5, 36, 9.5, 40]

In [ ]:
x=input(("enter a number"))
if x==x:
    print("true")
else:
    print("false")