In [2]:
myset = {1,2,34,56,6}
print(type(myset))

<class 'set'>

In [5]:
t = (2,45,6,6,45)
f = set(t)
f

{2, 6, 45}

In [6]:
for item in f:
    print(item)

2
45
6

In [7]:
# adding set to set
first = {'a','b'}
second = {'e','n'}
first.update(second)
first

{'a', 'b', 'e', 'n'}

In [8]:
# adding list to set
mylist = [1,23,4]
second.update(mylist)
second

{1, 23, 4, 'e', 'n'}

In [9]:
# remove data from set
second.remove(23)
second

{1, 4, 'e', 'n'}

In [10]:
# remove  data using discard
second.discard(4)
second

{1, 'e', 'n'}

In [11]:
# remove first element
second.pop()
second

{'e', 'n'}

In [13]:
second.clear()
print(second)

set()

In [20]:
# set union
first = {'a','b'}
second = {'e','n','b'}
union_data = first.union(second)
union_data

{'a', 'b', 'e', 'n'}

In [22]:
# set intersection
first.intersection_update(second)

In [23]:
first

{'b'}

In [25]:
first = {'a','b'}
second = {'e','n','b'}
intersect = first.intersection(second)
intersect

{'b'}