In [1]:
#list = []
# tuple = ()

In [10]:
mydata = (2,4,6,8)
type(mydata)

tuple

In [12]:
print(mydata[1:3])

(4, 6)

# Task

In [ ]:
# if tuple 4 present -> 4 is available
# if tuple 6 present -> 6 is available
#else 4 & 6 absent

In [14]:
if 4 in mydata:
    print("4 is available")
elif 6 in mydata:
    print("6 is available")
else:
    print("not available")

4 is available

In [18]:
# mydata[3] = 0
print(mydata)

(2, 4, 6, 8)

## Item assignment

In [21]:
mydata = list(mydata) # tuple -> list
mydata.append(0) # value adding
mydata = tuple(mydata) # list -> tuple

In [22]:
mydata

(2, 4, 6, 8, 0, 0)

In [23]:
# asteriek item assignment
fruit = ('apple','orange','grape','banana','cherry')

In [24]:
fruit

('apple', 'orange', 'grape', 'banana', 'cherry')

In [25]:
(x,y,z,p,q)=('apple','orange','grape','banana','cherry')

In [28]:
z

'grape'

In [30]:
(x,y,*z)=('apple','orange','grape','banana','cherry')

In [33]:
z

['grape', 'banana', 'cherry']

In [35]:
(x,*y,u,z)=('apple','orange','grape','banana','cherry')

In [36]:
y

['orange', 'grape']

In [38]:
fruit

('apple', 'orange', 'grape', 'banana', 'cherry')

## Loop in tuple

In [40]:
for i in range(0,len(fruit)):
    print(fruit[i])

apple
orange
grape
banana
cherry

In [42]:
data = (1,2,34,5)

## Join two tuple

In [43]:
x= fruit+data
print(x)

('apple', 'orange', 'grape', 'banana', 'cherry', 1, 2, 34, 5)

In [45]:
new = fruit*2
new

('apple',
 'orange',
 'grape',
 'banana',
 'cherry',
 'apple',
 'orange',
 'grape',
 'banana',
 'cherry')