## Read Data

In [2]:
# import package for read csv
import pandas as pd

In [12]:
# convert csv to dataframe
df = pd.read_csv(r'C:\Users\gopin\Desktop\Tutorial\dataset\titanic.csv')

In [13]:
# Get top 10 data from dataframe
df.head(10)

   PassengerId  Survived
0          892       0.0
1          893       0.0
2          894       0.0
3          895       0.0
4          896       1.0
5          897       0.0
6          898       1.0
7          899       0.0
8          900       1.0
9          901       0.0

In [14]:
# get bottom 5 data from dataframe
df.tail(5)

     PassengerId  Survived
413         1305       0.0
414         1306       1.0
415         1307       0.0
416         1308       0.0
417         1309       0.0

In [15]:
# Get dataframe information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     417 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 6.7 KB

In [16]:
df.describe()

       PassengerId    Survived
count   418.000000  417.000000
mean   1100.500000    0.364508
std     120.810458    0.481870
min     892.000000    0.000000
25%     996.250000    0.000000
50%    1100.500000    0.000000
75%    1204.750000    1.000000
max    1309.000000    1.000000

## Data cleaning

In [17]:
# Add the null data in dataframe
df.isnull().sum()

PassengerId    0
Survived       1
dtype: int64

In [18]:
# Drop null value row
df = df.dropna()

In [ ]:
# mean data --> fill (average data)
# mode --> fill (multiple number of same data which obtain)
# drop --> over 90% data null

In [19]:
df.isnull().sum()

PassengerId    0
Survived       0
dtype: int64

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  417 non-null    int64
 1   Survived     417 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 9.8 KB