In [1]:
## variable

a = 9 ## integer # a -> variable (word that store data)
c = 4.4 # float
v = 'berlin' # string

In [2]:
## data struture

data = [] # Empty list
f = [1,3,5] # list
t = (1,2) # tuple
d = {1,2} # sets
D = {a:'car'} # {key:value} # Dictionary

In [3]:
# convertion
### 1
first = '4'
type(first)

str

In [4]:
f = 4
type(f)

int

In [6]:
# str -> int
int(first)

4

In [10]:
first = int(first)

In [11]:
type(first)

int

In [13]:
### 2
st = '3'
t=int(st)
print(t)

3

In [14]:
type(t)

int

In [15]:
# str to int
a=4
b=str(a)
print(b)

4

In [16]:
type(b)

str

In [17]:
# int to float
a=33
f=float(a)
print(f,type(f))

33.0 <class 'float'>

In [19]:
# same variable assumption
a = 8
a=7
print(a)

7

In [22]:
sb=3.8
d=int(sb)
print(d,type(d))

3 <class 'int'>

In [ ]:
# 3.7
# floor -> 3
# ceil -> 4

## Mathemetical operation

In [23]:
import math
print(math.floor(3.8))

3

In [24]:
print(math.ceil(3.8))

4

In [26]:
print(round(3.4))

3

In [27]:
print(math.sqrt(25))

5.0

## OPERATORS

In [31]:
a=4
b=2
c=a+b
print(c)

6

In [32]:
d=a-b
print(d)

2

In [33]:
e=a*b
print(e)

8

In [37]:
a=5
b =6
f=a/b
print(f)

0.8333333333333334

In [38]:
# modulo
G = a%b
print(G)

5

In [39]:
Q = a//b
print(Q)

0

In [41]:
# power
print(5**3)

125

## String

In [47]:
## data types
#1. string
# string merge
first = 'berlin'
second = 'benilo'
s= first +' '+ second
print(s)

berlin benilo

In [48]:
first[0]

'b'

In [49]:
first[3]

'l'

In [52]:
# Remove 'l' from string
first[:3]

'ber'

In [53]:
first[4:]

'in '

In [54]:
first[:3]+first[4:]

'berin '

In [55]:
first

'berlin '

### task

In [13]:
# concatinate
a = 'shilpal'
b = 10
d=str(b)
c="@"
e=a+c+d
print(e)
# output = shilpa@10
# print(a+'@'+str(b))

shilpal@10

In [14]:
len(a)

7

In [16]:
a= 'shilpa11' # print values individually
for i in range(0,len(a)):
    print(i)
    print(a[i])

0
s
1
h
2
i
3
l
4
p
5
a
6
1
7
1

In [17]:
for i in a:
    print(i)

s
h
i
l
p
a
1
1

In [20]:
# upper
inp = 'berlin'
up = inp.upper()
print(up)

BERLIN

In [22]:
# lower
f = up.lower()
print(f)

berlin

In [24]:
# replace r -> h
g ='google'
G = g.replace('o','h')
print(G)

'ghhgle'

In [25]:
# split sentence into word
name = 'shilpa,basker'
name.split(',')

['shilpa', 'basker']

In [27]:
# Concatinate
a= 'hello world {}'
b=333
print(a.format(b))

hello world 333

In [28]:
total = 3
given = 2
sent = 'i had {} apple and i given {}'
print(sent.format(total,given))

i had 3 apple and i given 2

### Task

In [36]:
sent = 'i had apple and i given 2'
s=sent.replace('and',"")
print(s)

i had apple  i given 2

In [40]:
sent = 'i had apple\'berlin\'and i given 2'
print(sent)

i had apple'berlin'and i given 2